.about {
    margin-top: -5%;
    padding: 50px 50px 100px 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;

    .aboutTitle {
        text-align: center;
        position: relative;
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 60px;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    .section1 {
        font-size: 18px;
        margin-bottom: 80px;

        .col-lg-6 {
            padding: 20px 12px;

            &:last-child {
                border-left: 1px solid #797F84;
            }
        }

    }

    .section2 {
        margin-bottom: 40px;
        align-items: center;

        h4 {
            font-size: 29px;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .year {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 1px;
                height: calc(100% + 40px);
                background: #797F84;
                top: 12px;
                right: -5px;
                transform: translateX(50%);
            }
        }

        li {
            display: flex;
            gap: 10px;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;

                .year {
                    &::after {
                        height: calc(100% - 24px);
                    }
                }
            }

            .beforeWorks {

                p {
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background: #000;
                        top: 50%;
                        left: -5px;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .col-lg-8 {
            position: relative;

            img {

                &:first-child {
                    position: absolute;
                    top: -20%;
                    right: -10%;
                }

                &:last-child {
                    margin-top: 250px;
                }
            }
        }

    }

    .section3 {
        color: #797F84;
        font-weight: bold;

        .col-lg-2 {
            text-align: right;
        }
    }

    @include xl {
        .section2 {
            .col-lg-8 {
                position: relative;

                img {

                    &:first-child {
                        position: absolute;
                        top: 0;
                        right: -10%;
                    }

                    &:last-child {
                        margin-top: 250px;
                    }
                }
            }
        }

    }

    @include lg {
        padding: 50px;

        .section1 {
            margin-bottom: 20px;

            .col-lg-6 {

                &:last-child {
                    border-left: none;
                    margin-bottom: 0;
                }
            }
        }

        .section2 {
            ul {
                margin-bottom: 20px;
            }

            .col-lg-8 {
                position: relative;

                img {

                    &:first-child {
                        position: relative;
                        top: 0;
                        right: 0;
                    }

                    &:last-child {
                        margin-top: 0px;
                    }
                }
            }
        }

        .section3 {
            .col-lg-2 {
                margin-bottom: 20px;
                text-align: left;
            }

        }


    }

    @include md {
        .aboutTitle {
            margin-bottom: 20px;
        }
    }

    @include sm {
        margin-top: 0px;
        padding: 25px;
    }
}