.contact {
    padding: 50px 100px;
    margin-top: -5%;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;

    h3 {
        text-align: center;
        font-size: 30px;
        position: relative;
        margin-bottom: 70px;
        font-weight: bold;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 60px;
            height: 6px;
            background: #797F84;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    form {
        .inputArea {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 15px;


            input {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ABB1B1;
            }

            textarea {
                border: 1px solid #ABB1B1;
            }
        }

        .codeArea {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        button {
            width: 100%;
            max-width: 235px;
            margin-top: 50px;
            border: 1px solid #2A2B2E;
            background: transparent;
            padding: 12px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 22px;
            letter-spacing: 5px;

            &:hover {
                box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
            }
        }

    }

    .col-lg-8 {
        ul {
            margin-top: 20px;

            li {
                font-size: 18px;
                margin-bottom: 15px;
                display: flex;
                gap: 10px;

                i {
                    width: 18px;
                    height: 18px;
                    text-align: center;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        img {
            float: right;
        }
    }

    @include xl {
        padding: 50px;
    }

    @include lg {
        form {
            button {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    @include md {
        padding: 20px;
    }

    @include sm {
        margin-top: 0px;
    }
}