footer {
    background: #797F84;
    color: #fff;
    padding: 60px 0;

    .row {
        justify-content: space-between;
    }

    h3 {
        font-size: 24px;
    }

    h2 {
        font-family: Raleway, sans-serif;
        font-size: 60px;
    }

    ul {
        li {
            font-size: 18px;
            margin-bottom: 24px;
            display: flex;
            gap: 10px;

            i {
                width: 18px;
                height: 18px;
                text-align: center;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include lg {
        h2 {
            font-size: 50px;
        }

        .col-lg-6 {
            margin-bottom: 20px;
        }
    }
}