body {
    font-family: Noto Sans SC, sans-serif;
    background: #2A2B2E;
    color: #2B2A2E;
    line-height: 1.5;
    overflow-x: hidden;
}

// 首頁banner
.indexBanner {
    img {
        width: 100%;
    }
}

// 各分頁Banner
.banner {
    position: relative;

    img {
        width: 100%;
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 42px;
        white-space: nowrap;
        font-family: Microsoft YaHei UI, sans-serif;
        letter-spacing: 5px;
    }

    @include sm {
        h2 {
            white-space: normal;
            font-size: 30px;
        }
    }

    @include xs {
        h2 {
            font-size: 20px;
        }
    }
}

//白色背景
.whiteBg {
    background: #F5F5F5;
}

// 案例標籤


//container 大小
@media (min-width: 1560px) {

    .container {
        max-width: 1500px;
    }
}